Thumbs.db
.DS_Store
.directory
Makefile*

*.log
*.[oad]
*~
*.opensdf
*.sdf
*.suo
*.user*
*.autosave
*.exe
*.dll
*.lib
*.Release
*.Debug
*.rc
*.inc

bin/
build/
build*/
dist/
Debug/
Release/
ipch/

!*.ts
